torch
datasets
python-dotenv
numpy
torch-tb-profiler
tokenizers
transformers
accelerate
onnx
onnxruntime
onnxruntime-extensions 
onnxruntime-tools
onnxoptimizer
numpy
optimum[onnxruntime]
torchvision
tensorboard
torch-tb-profiler
transformer_engine